<div class="section--generic">
    <h1 class="section--generic__title">{{title}}</h1>

    <div class="section--generic__player--zone">
        <ul class="player--list" [ngClass]="{'card-small':mode === 'small','card-big':mode === 'big'}">
            <li *ngFor="let track of dataTracks">
                <app-card-player [trackObject]="track" [mode]="mode" />
            </li>
        </ul>
    </div>
</div>

<!--
    estas son las dos secciones que se utilzam en la carpeta tracks Small y big
    la parte grade y pequeña

    *ngFor: Directiva estructural de Angular que se utiliza para iterar sobre la lista de dataTracks 
    y renderizar un componente app-card-player
-->